tag:
  otel:
    exporter:
      otlp:
        endpoint: http://tharlm-otel-collector:4318
  spring:
    datasource:
      url: ${SPRING_DATASOURCE_URL}
      username: ${SPRING_DATASOURCE_USERNAME}
      password: ${SPRING_DATASOURCE_PASSWORD}
